<!doctype html>
<html>

<head>
    <title>My simple chat</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/chat.css">
</head>

<body>
    <div>
        <table id='users-table'>
            <tbody id='connected-users'>
                <tr id='users-tr'>
                </tr>
            </tbody>
        </table>
    </div>
    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function () {
        var socket = io('http://localhost:3000');
        var username = '<%= username %>';
        socket.emit('send-username', username);

        $('form').submit(function () {
            if ($('#m').val() != '') {
                var msg = {
                    name: username,
                    text: $('#m').val()
                };
                socket.emit('chat message', msg);
                $('#messages').append($('<li>').text(msg.name + ': ' +msg.text));
                $('#m').val('');
            }
            return false;
        });
        socket.on('chat message', (msg) => {
            $('#messages').append($('<li>').text(msg.name + ': ' +msg.text));
        })
        socket.on('user-connected', (username) => {
            $('#messages').append($('<li>').text(username + ' has joined!'));
        })
        socket.on('user-disconnected', (username) => {
            $('#messages').append($('<li>').text(username + ' has left!'));
        })
        socket.on('update-usernames', (users) => {
            $('#users-tr').html('');
            for (const username in users) {
                $('#users-tr').append($('<td>').text(users[username]));
            }
        })
    });
</script>

</html>